@import "variables";

p {
  font-size: 17px;
  font-weight: 200;
}

h2 {
  text-align: center;
  margin-top: 76px;
  padding: 14px;
  color: $applications-title-color;
  border-bottom: solid 4px $color-secondary-alt;
}

hr {
  margin: 20px 0;
}

.application-container {
  position: relative;
  width: 100%;
  height: 125px;
  overflow: hidden;
  background: $color-primary;
  background-size: cover;
}

.application-overlay {
  background: rgba($color-primary, .62);
  height: 500px;
}

.application-content {
  padding-top: 25px;
  text-align: center;
  color: $color-white;
  width: 50%;
  margin-left: 25%;
}

.container-text {
  padding: 2%;
}

.row {
  padding-top: 15px;
}

.app {
  margin-bottom: 15px;
  box-shadow: 0 3px 4px $applications-app-shadow-color;
  padding: 10px;
  min-height: 175px;
  background-color: $color-white;
}
